
/* .btn {
    display: block;
    padding: 10px 20px;
    background-color: #1bba93;
    text-align: center;
    font-size: 17px;
    border: none;
    border-radius: 5px;
    color: #bcf5e7;
    cursor: pointer;
    width: 100%;
}
.btn:hover {
    background-color: #169c7b;
    color: white;
} */
form {
    /* border: 3px solid #f1f1f1; */
    display: inline-block;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    width: 700px;
  }

  button {
    background-color: #04AA6D;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
  }
  
  /* Add a hover effect for buttons */
  button:hover {
    opacity: 0.8;
  }
  
td {
  text-align: center;
}