<h2 style="text-align: center; margin-top: 30px;">Change password</h2>
<hr>
<div style="display: block; text-align: center;">
    <form class="form" name="registration" enctype="multipart/form-data" (ngSubmit)="changePassword()" ngNativeValidate>
        <div class="container" style="align-items: center; justify-content: center;">
            <div class="row">
                <div class="col">
                    <label for="password"><b>Old Password</b></label>
                    <input type="password" placeholder="Enter old password" name="password" required
                        [(ngModel)]="oldPassword"
                        pattern="^(?=.* ?[A-Z])(?=.* ?[a-z])(?=.* ?[0-9])(?=.* ?[#?!@$%^&*-]).{8,24}$">
                </div>
            </div>
            <div class="row">

                <div class="col">
                    <label for="psw"><b>New Password</b></label>
                    <input type="password" placeholder="Enter new password" name="psw" required
                        [(ngModel)]="newPassword"
                        pattern="^(?=.* ?[A-Z])(?=.* ?[a-z])(?=.* ?[0-9])(?=.* ?[#?!@$%^&*-]).{8,24}$">
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <label for="cpsw"><b>Confirm Password</b></label>
                    <input type="password" placeholder="Confirm password" name="cpsw" required [(ngModel)]="retype"
                        pattern="^(?=.* ?[A-Z])(?=.* ?[a-z])(?=.* ?[0-9])(?=.* ?[#?!@$%^&*-]).{8,24}$">
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <button type="submit">Change password</button>
                </div>
            </div>
        </div>
    </form>
</div>