<!-- <div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <form name="registration" enctype="multipart/form-data" (ngSubmit)="register()" ngNativeValidate>
                <div class="registration-form">
                    <div class="form-header">
                        <h1>Create new account</h1>
                    </div>
                    <div class="form-body">
                        <div class="horizontal-group">
                            <div class="form-group left">
                                <label for="firstname" class="label-title">First name *</label>
                                <input type="text" name="firstname" class="form-input"
                                    placeholder="enter your first name" required="true" [(ngModel)]="firstname" />
                            </div>
                            <div class="form-group right">
                                <label for="lastname" class="label-title">Last name *</label>
                                <input type="text" name="lastname" class="form-input" placeholder="enter your last name"
                                    required="true" [(ngModel)]="lastname" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="email" class="label-title">Email*</label>
                            <input type="email" name="email" class="form-input" placeholder="enter your email"
                                required="true" [(ngModel)]="mail" />
                        </div>
                        <div class="form-group">
                            <label for="username" class="label-title">Username*</label>
                            <input type="text" name="username" class="form-input" placeholder="enter your username"
                                required="true" [(ngModel)]="username" />
                        </div>
                        <div class="horizontal-group">
                            <div class="form-group left">
                                <label for="password" class="label-title">Password *</label>
                                <input type="password" name="password" class="form-input"
                                    pattern="^(?=.* ?[A-Z])(?=.* ?[a-z])(?=.* ?[0-9])(?=.* ?[#?!@$%^&*-]).{8,24}$"
                                    placeholder="enter your password" required="true" [(ngModel)]="password" />
                            </div>
                            <div class="form-group right">
                                <label for="confirm-password" class="label-title">Confirm Password *</label>
                                <input type="password" class="form-input" name="confirm-password"
                                    pattern="^(?=.* ?[A-Z])(?=.* ?[a-z])(?=.* ?[0-9])(?=.* ?[#?!@$%^&*-]).{8,24}$"
                                    placeholder="enter your password again" required="true" [(ngModel)]="retype" />
                            </div>
                        </div>
                        <div class="horizontal-group">
                            <div class="form-group left">
                                <label for="city" class="label-title">City *</label>
                                <input type="text" name="city" class="form-input" placeholder="enter your city"
                                    required="true" [(ngModel)]="city" />
                            </div>
                            <div class="form-group right">
                                <label for="country" class="label-title">Country *</label>
                                <input type="text" class="form-input" name="country" placeholder="enter your country"
                                    required="true" [(ngModel)]="country" />
                            </div>
                        </div>
                        <div class="horizontal-group">
                            <div class="form-group left">
                                <label for="choose-file" class="label-title">Upload Profile Picture </label>
                                <input type="file" name="choose-file" size="80" (change)="onFileChange($event)" />
                            </div>
                        </div>
                    </div>
                    <div class="form-footer">
                        <button type="submit" class="btn">Create</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div> -->

<div style="display: block; text-align: center;">
    <form class="text-center border border-light p-5" name="registration" enctype="multipart/form-data"
        (ngSubmit)="register()" ngNativeValidate>

        <p class="h2 mb-4">Sign up</p>

        <div class="container" style="align-items: center; justify-content: center;">
            <div class="form-row mb-4">
                <div class="col">
                    <label for="firstname"><b>Firstname</b></label>
                    <input type="text" name="firstname" class="form-control" placeholder="Firstname" required="true"
                        [(ngModel)]="firstname" />

                </div>
                <br />
                <div class="col">
                    <label for="lastname"><b>Lastname</b></label>
                    <input type="text" name="lastname" class="form-control" placeholder="Lastname" required="true"
                        [(ngModel)]="lastname" />
                </div>
            </div>

            <!-- E-mail -->
            <div class="col">
                <label for="mail"><b>Mail</b></label>
                <input type="text" name="mail" id="defaultRegisterFormEmail" class="form-control mb-4"
                    placeholder="E-mail" required="true" [(ngModel)]="mail">
            </div>
            <!-- Password -->
            <div class="col">
                <label for="password"><b>Password</b></label>
                <input type="password" name="password" class="form-control" placeholder="Password"
                    aria-describedby="defaultRegisterFormPasswordHelpBlock"
                    pattern="^(?=.* ?[A-Z])(?=.* ?[a-z])(?=.* ?[0-9])(?=.* ?[#?!@$%^&*-]).{8,24}$" required="true"
                    [(ngModel)]="password">
                <small id="defaultRegisterFormPasswordHelpBlock" class="form-text text-muted mb-4">
                    At least 8 characters, maximum 24 caracters, 1 upper-case, 1 lower-case and 1 digit
                </small>
                <div class="col">
                    <label for="retype"><b>Confirm password</b></label>
                    <input type="password" name="retype" class="form-control" placeholder="Confirm password"
                        aria-describedby="defaultRegisterFormPasswordHelpBlock"
                        pattern="^(?=.* ?[A-Z])(?=.* ?[a-z])(?=.* ?[0-9])(?=.* ?[#?!@$%^&*-]).{8,24}$" required="true"
                        [(ngModel)]="retype">
                </div>
            </div>
            <div class="col">
                <label for="username"><b>Username</b></label>
                <input type="text" name="username" class="form-control" placeholder="Username" required="true"
                    [(ngModel)]="username">
            </div>
            <div class="col">
                <label for="city"><b>City</b></label>
                <input type="text" name="city" class="form-control" placeholder="City" required="true"
                    [(ngModel)]="city" />
            </div>
            <div class="col">
                <label for="country"><b>Country</b></label>
                <input type="text" class="form-control" name="country" placeholder="Country" required="true"
                    [(ngModel)]="country" />
            </div>

            <div class="col">
                <label for="choose-file"><b>Profile picture</b></label>
                <br />
                <input type="file" style="padding-left: 65px;" name="choose-file" size="80"
                    (change)="onFileChange($event)" required="true" />
            </div>

            <!-- Sign up button -->
            <button class="btn btn-info my-4 btn-block waves-effect waves-light" type="submit">Sign in</button>
        </div>
    </form>
</div>